/* formulario registro - editar */

.registrar {
    background-color:#ecf6f5;
    margin: auto;
    margin-bottom: 20px;
    max-width: 50%;
    padding: 4, 5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0, 0, 0, 30);
    text-align: center;
}

.from_group {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    position: relative;
    justify-content: flex-end;
    margin-bottom: 10px;
    width: 80%;
}

.form_titulo {
    font-size: 2em;
    padding: 20px;
}

.form_container {
    margin-top: 1em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
}


.from_input {
    width: 90%;
    background: none;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1.5px solid;
}

.form_submit {
    background-color: #dc3741;
    color: rgb(255, 255, 255);
    font-weight: 300 bold;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
}

a {
    text-decoration: none;
}



button.form_submit {
    width: 100%;
}

form.registrar {
    margin-top: 20px;
}

form.registrar a {
    color: black;
}

.tabla {
    margin-bottom: 1rem;
}


/* formulario resposive */

@media(max-width: 425px) {
    .form_titulo {
        font-size: 1.8rem;
    }

    .registrar {
        margin-top: 12.5vh;
    }
}

/* Label */




.from_input:not(:placeholder-shown) + .from_label{
    margin-bottom: 10px;
    top:-10px;
    transform-origin: left top;
    font-weight: bold;
}


.form_submit{
    background-color: #dc3741;
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
    cursor: pointer;
    font-weight: bold;
    margin-top: 25px;
}

.from_label{
    cursor: pointer;
    position: absolute;
    /* bottom: 2em; */
   
    transform: translateY(2em);
    transition:transform .5s, color .3s;
}

.from_input:focus ~ .from_label,
.from_input:not(:placeholder-shown) ~ .from_label{
    transform: scale(1);
}

.from_input:focus ~ .from_label,
.from_input:not(:placeholder-shown) ~ .from_label{
    transform: scale(1);
}

@media(max-width: 425px){
    .form_titulo{
        font-size: 1.8rem;
    }
}