/* formulario registro - editar */

.registrar_usuario {
    background-color:#ecf6f5;
    margin: auto;
    width: 100%;
    max-width: 600px;
    padding: 4, 5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0, 0, 0, 30);
    text-align: center;
}

.from_group {
    display: flex;
    position: relative;
    justify-content: center;
}

.form_titulo {
    font-size: 2em;
    padding: 20px;
}

.form_container {
    margin-top: 1em;
    display: grid;
    gap: .5em;
}

input::placeholder {
    color: black;
}

.from_input {
    width: 90%;
    background: none;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1.5px solid;
}

.form_submit {
    background-color: #278787;
    color: rgb(255, 255, 255);
    font-weight: 300 bold;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
}

a {
    text-decoration: none;
}

select {
    background: none;
    width: 93%;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border-radius: .5em;
    border: black 1px solid;
    margin-bottom: 10px;
}

button.form_submit {
    width: 100%;
}

form.registrar_usuario {
    margin-top: 20px;
}

form.registrar_usuario a {
    color: black;
}

.tabla {
    margin-bottom: 1rem;
}


/* formulario resposive */

@media(max-width: 425px) {
    .form_titulo {
        font-size: 1.8rem;
    }

    .registrar_usuario {
        margin-top: 12.5vh;
    }
}

/* Label */

.from_input{
    width: 90%;
    background: none;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid;
}

#form_rc:hover{
    color: #000000;
    font-weight: bold;
}

.from_input:not(:placeholder-shown){
    color: rgb(44, 44, 44);
}

.from_input:focus + .from_label,
.from_input:not(:placeholder-shown) + .from_label{
    transform: rotateY(-12px) scale(.7);
    transform-origin: left top;
    font-weight: bold;
}

.from_label{
    cursor: pointer;
    position: absolute;
    /* bottom: 2em; */
    left: 2em;
    transform: translateY(1em);
    transition:transform .5s, color .3s;
}

.form_submit{
    background-color: #278787;
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
    cursor: pointer;
    font-weight: bold;
}

.from_line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color:#000000;
    transform:scale(0);
    transform: left bottom;
    transition:transform .4s;
}

.from_input:focus ~ .from_label,
.from_input:not(:placeholder-shown) ~ .from_label{
    transform: scale(1);
}

@media(max-width: 425px){
    .form_titulo{
        font-size: 1.8rem;
    }
}